*{
  margin: 0 ;
  padding: 0;
}
*,*::before,*::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ul,li,ol{
  list-style: none;
}
button:focus{
  outline: none;
}
*:focus{
  outline: none;
}