<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简历模版</title>
  <link rel="stylesheet" type="text/css" href="./../assets/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="./css/login.css" />
  <link rel="stylesheet" type="text/css" href="./css/regist.css" />
  <link rel="stylesheet" type="text/css" href="./css/forget.css" />
  <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>

<body>
  <div id="app">
    <aside>
      <div class="tp">
        <button @click="clickSaveBtn">保存</button>
        <button>删除</button>
        <button>预览</button>
        <button>分享</button>
      </div>
      <div class="btm">
        <button v-if="isLogin" @click="logout">退出</button>
        <button v-else @click="loginModal">登录</button>
      </div>
    </aside>
    <main>
      <div class="resume">
        <section class="profile">
          <h1>
            <edit-span :value="resume.name" @edit="edit('name',$event)"></edit-span>
          </h1>
          <edit-span :value="resume.age" @edit="edit('age',$event)"></edit-span> |
          <edit-span :value="resume.gender" @edit="edit('gender',$event)"></edit-span> |
          <edit-span :value="resume.phone" @edit="edit('phone',$event)"></edit-span> |
          <edit-span :value="resume.email" @edit="edit('email',$event)"></edit-span>
        </section>
        <section class="career">
          <h2>工作经历</h2>
          <div class="list">
            <ul>
              <li>
                <div class="top">
                  <div class="lt">
                    <span class="company">公司一</span>
                    <span class="title">职位</span>
                  </div>
                  <div class="rt">
                    <span class="time">2011-2012</span>
                  </div>
                </div>
                <div class="btm">
                  <p class="desc">工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介</p>
                </div>
              </li>
              <li>
                <div class="top">
                  <div class="lt">
                    <span class="company">公司一</span>
                    <span class="title">职位</span>
                  </div>
                  <div class="rt">
                    <span class="time">2011-2012</span>
                  </div>
                </div>
                <div class="btm">
                  <p class="desc">工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介</p>
                </div>
              </li>
              <li>
                <div class="top">
                  <div class="lt">
                    <span class="company">公司一</span>
                    <span class="title">职位</span>
                  </div>
                  <div class="rt">
                    <span class="time">2011-2012</span>
                  </div>
                </div>
                <div class="btm">
                  <p class="desc">工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="edu">
          <h2>教育经历</h2>
          <div class="list">
            <ul>
              <li>
                <div class="lt">
                  <span class="school">学校</span>
                  <span class="major">专业</span>
                </div>
                <div class="rt">
                  <span class="time">2011-2012</span>
                </div>
              </li>
              <li>
                <div class="lt">
                  <span class="school">学校</span>
                  <span class="major">专业</span>
                </div>
                <div class="rt">
                  <span class="time">2011-2012</span>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="project">
          <h2>项目经历</h2>
          <div class="list">
            <ul>
              <li v-for="project,index in resume.projects" v-key="index">
                <div class="top">
                  <div class="lt">
                    <edit-span :value="project.name" @edit="edit(`projects[${index}].name`,$event)"></edit-span>
                    <edit-span :value="project.link" @edit="edit(`projects[${index}].link`,$event)"></edit-span>
                  </div>
                  <div class="rt">
                    <edit-span :value="project.keywords" @edit="edit(`projects[${index}].keywords`,$event)"></edit-span>
                  </div>
                </div>
                <div class="btm">
                  <div class="desc">
                    <edit-span :value="project.description" @edit="edit(`projects[${index}].description`,$event)"></edit-span>
                  </div>
                </div>
                <span v-show="index>2" class="close" @click="removeProject(index)">x</span>
              </li>
              <li><span @click="addProject">添加</span></li>
            </ul>
          </div>
        </section>
        <section class="skill">
          <h2>技能</h2>
          <div class="list">
            <ul>
              <li v-for="skill,index in resume.skills" v-key="index">
                <span class="name">
                  <edit-span :value="skill.name" @edit="edit(`skills[${index}].name`,$event)"></edit-span>
                </span>
                ：
                <span class="desc">
                  <edit-span :value="skill.description" @edit="edit(`skills[${index}].description`,$event)"></edit-span>
                </span>
                <span class="close" v-show="index>3" @click="removeSkill(index)">x</span>
              </li>
              <li>
                <span @click="addSkills">添加</span>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>
    <div class="login modal" v-show="showLogin" v-cloak>
      <div class="shadow" @click="closeModal"></div>
      <div class="form">
        <h4>登录</h4>
        <form @submit.prevent="toLogin">
          <div class="input-group">
            <label>
              <span class="title">用户名：</span>
              <input type="text" placeholder="请输入用户名" name="username" v-model="login.username" />
            </label>
          </div>
          <div class="input-group">
            <label>
              <span class="title">密码：</span>
              <input type="password" placeholder="请输入密码" name="password" v-model="login.password" />
            </label>
          </div>
          <div class="input-group submit">
            <span @click="registModal">没有账号？立即注册</span>
            <span @click="forgetModal">忘记密码</span>
            <button type="submit">确定</button>
          </div>
        </form>
      </div>
    </div>
    <div class="regist modal" v-show="showRegist" v-cloak>
      <div class="shadow" @click="closeModal"></div>
      <div class="form">
        <h4>新用户注册</h4>
        <form @submit.prevent="toRegist">
          <div class="input-group">
            <label>
              <span class="title">邮箱：</span>
              <input type="email" placeholder="请输入邮箱" name="email" v-model="regist.email" />
            </label>
          </div>
          <div class="input-group">
            <label>
              <span class="title">用户名：</span>
              <input type="text" placeholder="请输入用户名" name="username" v-model="regist.username" />
            </label>
          </div>
          <div class="input-group">
            <label>
              <span class="title">密码：</span>
              <input type="password" placeholder="请输入密码" name="password" v-model="regist.password" />
            </label>
          </div>
          <div class="input-group submit">
            <span @click="loginModal">已有账号，立即登录</span>
            <button type="submit">确定</button>
          </div>
        </form>
      </div>
    </div>
    <div class="forget modal" v-show="showForget" v-cloak>
      <div class="shadow" @click="closeModal"></div>
      <div class="form">
        <h4>忘记密码</h4>
        <form @submit.prevent="toForget">
          <div class="input-group">
            <label>
              <span class="title">邮箱：</span>
              <input type="text" placeholder="请输入注册邮箱" name="email" v-model="forget.email" />
            </label>
          </div>
          <div class="input-group submit">
            <span @click="loginModal">登录</span>
            <button type="submit">确定</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="./../vendors/leancloud/av-min.js"></script>
  <script src="./../vendors/leancloud/av-init.js"></script>
  <script src="./../vendors/vue/vue.min.js"></script>
  <script src="./js/edit-sapn.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>