<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简历模版</title>
  <link rel="stylesheet" type="text/css" href="./../assets/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="./css/login.css" />
  <link rel="stylesheet" type="text/css" href="./css/regist.css" />
  <link rel="stylesheet" type="text/css" href="./css/forget.css" />
  <link rel="stylesheet" type="text/css" href="./css/share.css" />
  <link rel="stylesheet" type="text/css" href="./css/index.css" />
  <link rel="stylesheet" type="text/css" href="./css/print.css" media="print"/>
  <link rel="stylesheet" type="text/css" href="./css/dark.css" />
</head>

<body>
  <div id="app" :class="{dark: skin==='dark'}">
    <app-aside :mode="mode" :islogin="isLogin" @save="clickSaveBtn" @share="shareModal" @changemode="changemode" @skin="toggleSkin" @login="loginModal" @logout="logout"></app-aside>
    <main>
      <div class="resume">
        <section class="profile">
          <h1>
            <edit-span :disabled="mode==='edit'" :disabled="mode==='edit'" :value="displayResume.name" @edit="edit('name',$event)"></edit-span>
          </h1>
          <edit-span :disabled="mode==='edit'" :value="displayResume.age" @edit="edit('age',$event)"></edit-span> |
          <edit-span :disabled="mode==='edit'" :value="displayResume.gender" @edit="edit('gender',$event)"></edit-span> |
          <edit-span :disabled="mode==='edit'" :value="displayResume.phone" @edit="edit('phone',$event)"></edit-span> |
          <edit-span :disabled="mode==='edit'" :value="displayResume.email" @edit="edit('email',$event)"></edit-span>
        </section>
        <section class="career">
          <h2>工作经历</h2>
          <div class="list">
            <ul>
              <li>
                <div class="top">
                  <div class="lt">
                    <span class="company">公司一</span>
                    <span class="title">职位</span>
                  </div>
                  <div class="rt">
                    <span class="time">2011-2012</span>
                  </div>
                </div>
                <div class="btm">
                  <p class="desc">工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介</p>
                </div>
              </li>
              <li>
                <div class="top">
                  <div class="lt">
                    <span class="company">公司一</span>
                    <span class="title">职位</span>
                  </div>
                  <div class="rt">
                    <span class="time">2011-2012</span>
                  </div>
                </div>
                <div class="btm">
                  <p class="desc">工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介</p>
                </div>
              </li>
              <li>
                <div class="top">
                  <div class="lt">
                    <span class="company">公司一</span>
                    <span class="title">职位</span>
                  </div>
                  <div class="rt">
                    <span class="time">2011-2012</span>
                  </div>
                </div>
                <div class="btm">
                  <p class="desc">工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介工作简介</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="edu">
          <h2>教育经历</h2>
          <div class="list">
            <ul>
              <li>
                <div class="lt">
                  <span class="school">学校</span>
                  <span class="major">专业</span>
                </div>
                <div class="rt">
                  <span class="time">2011-2012</span>
                </div>
              </li>
              <li>
                <div class="lt">
                  <span class="school">学校</span>
                  <span class="major">专业</span>
                </div>
                <div class="rt">
                  <span class="time">2011-2012</span>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="project">
          <h2>项目经历</h2>
          <div class="list">
            <ul>
              <li v-for="project,index in displayResume.projects" v-key="index">
                <div class="top">
                  <div class="lt">
                    <edit-span :disabled="mode==='edit'" :value="project.name" @edit="edit(`projects[${index}].name`,$event)"></edit-span>
                    <edit-span :disabled="mode==='edit'" :value="project.link" @edit="edit(`projects[${index}].link`,$event)"></edit-span>
                  </div>
                  <div class="rt">
                    <edit-span :disabled="mode==='edit'" :value="project.keywords" @edit="edit(`projects[${index}].keywords`,$event)"></edit-span>
                  </div>
                </div>
                <div class="btm">
                  <div class="desc">
                    <edit-span :disabled="mode==='edit'" :value="project.description" @edit="edit(`projects[${index}].description`,$event)"></edit-span>
                  </div>
                </div>
                <span v-if="index>2 && mode === 'edit'" class="close" @click="removeProject(index)">x</span>
              </li>
              <li v-if="mode==='edit'"><span @click="addProject">添加</span></li>
            </ul>
          </div>
        </section>
        <section class="skill">
          <h2>技能</h2>
          <div class="list">
            <ul>
              <li v-for="skill,index in displayResume.skills" v-key="index">
                <span class="name">
                  <edit-span :disabled="mode==='edit'" :value="skill.name" @edit="edit(`skills[${index}].name`,$event)"></edit-span>
                </span>
                ：
                <span class="desc">
                  <edit-span :disabled="mode==='edit'" :value="skill.description" @edit="edit(`skills[${index}].description`,$event)"></edit-span>
                </span>
                <span class="close" v-if="index>3 && mode == 'edit'" @click="removeSkill(index)">x</span>
              </li>
              <li v-if="mode==='edit'">
                <span @click="addSkills">添加</span>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>
    <login v-show="showLogin" v-cloak @close="closeModal" @regist="registModal" @forget="forgetModal" @userinfo="login($event)"></login>
    <regist v-show="showRegist" v-cloak @close="closeModal" @login="loginModal" @userinfo="regist($event)"></regist>
    <forget v-show="showForget" v-cloak @close="closeModal" @login="loginModal" @openlogin="loginModal"></forget>
    <share v-show="showPreview" v-cloak @close="closeModal" :url="previewURL"></share>
  </div>

  <script src="./../vendors/leancloud/av-min.js"></script>
  <script src="./../vendors/leancloud/av-init.js"></script>
  <script src="./../vendors/vue/vue.min.js"></script>
  <script src="./js/edit-sapn.js"></script>
  <script src="./js/login.js"></script>
  <script src="./js/regist.js"></script>
  <script src="./js/forget.js"></script>
  <script src="./js/share.js"></script>
  <script src="./js/aside.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>